svg {
  margin: 0 auto;
}
.card {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding: 2rem;
}
.btn {
  border-radius: 4rem;
  background-color: hsl(0, 0%, 95%);
}
.first {
  background-color: hsl(31, 77%, 52%);
}
.first .btn {
  color: hsl(31, 77%, 52%);
}
.second {
  background-color: hsl(184, 100%, 22%);
}
.second .btn {
  color: hsl(184, 100%, 22%);
}
.third {
  background-color: hsl(179, 100%, 13%);
}
.third .btn {
  color: hsl(179, 100%, 13%);
}

h5 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}
.card-text {
  color: hsla(0, 0%, 100%, 0.75);
}
@media (min-width: 400px) {
  .card {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .card {
    margin: 10% 0;
    line-height: 3rem;
  }
}
